/* 
    pending: media queries for responsive ui
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body{
    background: #C1ABF0;
}

.hero-img{
    z-index: 1;
    height: auto;
    width: auto;
    position: absolute;
    top: 20vh;
    left: 25vw;
}

.hero-img img{
    width: 30vw;
}

.login-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-form h2{
    padding-bottom: 2.5rem;
}

.login-form {
    position: absolute;
    left: 40vw;
    width: calc(100vw - 40vw);
    /* max-width: 60vw; */
    background-color: #EAE0FF;
    color: #886FBF;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 3em 0 0 3em;
    box-shadow: -13px 33px 49px rgba(164, 164, 164, 0.25);
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-unique-id,
.form-passcode {
    display: flex;
    flex-direction: column;
}

.form-unique-id label,
.form-passcode label{
    margin-bottom: 2px;
}


.form-unique-id input,
.form-passcode input {
    margin-bottom: 10px;
    max-width: max-content;
    height: 3rem;
    font-size: 1.3rem;
    outline: none;
    border: 1.5px solid #886FBF;
    border-radius: 5px;
    padding-left: 5px;
    color: #886FBF;
}

.form-submit {
    width: 8rem;
    height: 2.4rem;
    background: linear-gradient(90deg, #886FBF 0%, #7E64B8 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    color: #FEFEFE;
    font-size: 0.9rem;

}

.form-submit:hover {
    width: 8rem;
    height: 2.4rem;
    background: linear-gradient(90deg, #997bda 0%, #8b6dcc 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    color: #FEFEFE;
    font-size: 0.9rem;

}
.form-submit:focus {
    width: 8rem;
    height: 2.4rem;
    background: linear-gradient(90deg, #7f65b6 0%, #7158a6 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    color: #FEFEFE;
    font-size: 0.9rem;

}

.registration-link-container{
    padding-top: 2rem;
    font: 1rem sans-serif;
    color: #C1ABF0;
}

.registration-link{
    font-weight: bold;
    color: #7E64B8;
}